@{
    Layout = null;
    var role = (int)TempData["Role"];
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--[if lt IE 9]>
      <script src="~/scripts/html5shiv.js"></script>
    <![endif]-->
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/sb-admin.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
    <link href="~/Content/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Scripts/datepicker/css/datepicker.css" rel="stylesheet" />
</head>
<body>

    <div id="wrapper">
        <nav class="navbar navbar-fixed-top startbootstrap-nav" role="navigation">
            <div class="container-layout">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#" style="margin-left: 10%;">ServiceIt Online Portal</a>
                </div>
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        @if (role == 1|| role==2)
                        {
                            @Html.Partial("_AdminMenu")
                        }
                        @if (role == 3)
                        {
                              @Html.Partial("_DealerMenu")
                        }
                        else
                        {
                             @Html.Partial("_CustomerMenu")
                        } 
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i><i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="#"><i class="fa fa-user fa-fw"></i>User Profile</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="/Account/Logout"><i class="fa fa-sign-out fa-fw"></i>Logout</a>
                                </li>
                            </ul>
                            <!-- /.dropdown-user -->
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.container -->
        </nav>
        <div class="div-page-layout">
            <div class="row">
                <div class="col-lg-12">
                    @RenderBody()
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>
                            <span class="pull-left">© 2014 <a href="#" title="ServiceIt" target="_blank">ServiceIt </a></span>
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
    <script src="~/Scripts/jquery-1.9.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.metisMenu.js"></script>
    <!-- Page-Level Plugin Scripts - Blank -->
    <!-- SB Admin Scripts - Include with every page -->
    <script src="~/Scripts/sb-admin.js"></script>
    <script src="~/Scripts/jquery.dataTables.js"></script>
    <script src="~/Scripts/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/dataTables.bootstrap.js"></script>
    <!-- Page-Level Demo Scripts - Blank - Use for reference -->
    <script>
        $(document).ready(function () {
            $('.dtable').dataTable();
            $('.datepicker').datepicker().on('changeDate', function (ev) {
                $('#dpDob').val(ev.date.toLocaleDateString());
                $('.datepicker').datepicker('hide');
            });
        });
    </script>
</body>

</html>
